{% extends 'blog_base.html' %}

{% block page_title %}
<h2> Postagens do blog </h2>
{% endblock page_title %}

{% block page_content %}
{% for postagem in postagens %}
<h3>
    <a href="{% url 'blog_detalhe' postagem.pk %}">
        {{ postagem.titulo }}
    </a>
</h3>
<small>
    {{ postagem.criado_em.date}} | Categorias:
    {% for categoria in postagem.categorias.all %}
    <a href="{% url 'blog_categoria' categoria.nome %}">
        {{ categoria.nome }}
    </a>
    {% endfor %}
</small>
<p>{{ postagem.corpo | slice:'400' }}...</p>
{% endfor %}
{% endblock page_content %}